@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.product {
    border: 1px solid #f7f6f9;
    padding: 10px;
    margin: 10px;
    width: 380px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 7px #dfdfdf;
    font-family: Segoe UI;
}
  
.product img {
    max-width: 150px;
    height: 150px;
}
  
.product h3 {
    margin-top: 10px;
}

.gold-star {
    color: gold;
}

.brand {
    color: grey;
}

.category {
    color: grey;
}
  